## Data Exploration Notebook
A notebook to provide initial EDA of downoaded "wine-

In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet ("../data/sample/wine_quality_1.parquet")

In [5]:
df.describe(include="all")

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
count,160.000000,160.000000,160.000000,160.000000,160.000000,160.00000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,red
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,160
mean,8.465625,0.515094,0.294125,2.498438,0.089769,15.53125,46.493750,0.996797,3.290125,0.651125,10.356979,5.656250,NaN
std,1.605378,0.174144,0.184883,1.368978,0.042877,10.49883,32.251761,0.001737,0.156008,0.157512,1.064525,0.861817,NaN
min,5.000000,0.160000,0.000000,1.200000,0.041000,3.00000,7.000000,0.991500,2.880000,0.370000,8.700000,3.000000,NaN
25%,7.300000,0.380000,0.120000,2.000000,0.072750,7.00000,20.000000,0.995748,3.170000,0.550000,9.500000,5.000000,NaN
50%,8.200000,0.500000,0.310000,2.200000,0.080000,13.00000,41.000000,0.996800,3.290000,0.620000,10.050000,6.000000,NaN
75%,9.150000,0.616250,0.460000,2.600000,0.092000,22.25000,62.500000,0.997800,3.380000,0.712500,11.000000,6.000000,NaN
max,13.300000,1.180000,0.690000,13.800000,0.341000,52.00000,152.000000,1.002420,4.010000,1.610000,13.500000,8.000000,NaN